
.idea
*.pyc
*.orig
*.iml
*.cmd
*.log
cache
media
env
venv
locale
html
dump
manage.py
log.txt
robots.txt
importation.log
/index.html
SQL
logs
local_settings.py
passenger_wsgi.py
sync/archive
location/archive
/static
/doc
/sql
/tmp
*/management/data
*.sql
node_modules
.DS_Store
*.sublime-project
*.sublime-workspace
